#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  /* min-width: 200px; */
  --main-borders: 5px solid #27feff;
}

/* .app {
display: grid;
grid-template-columns: 200px 1fr;
grid-template-rows: var(--header-h) 1fr 48px;
grid-template-areas:
"header header"
"sidebar main"
"footer footer";
min-height: 100vh;
font-family: Arial, sans-serif;

} */

.header-container {
  grid-area: header;
  background-image: linear-gradient(#090817 81%, rgb(255, 255, 255) 150%);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 0 50px #fff, /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff;
  scroll-padding-top: 500px;
}

.navigation {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.navigation > button {
  background-color: #090817;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  width: fit-content;
  height: fit-content;
}

button:hover {
  box-shadow: 0 0 50px #fff, /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff;
}

.about-me-section {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

.about-me {
  align-self: center;
  gap: 1rem;
  display: flex;
}

.about-me-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1%;
}

.about-me-headings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-me > p {
  max-width: 70vw;
  text-align: justify;
  align-self: center;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 1%;
  flex: auto;
  justify-content: center;
  align-content: center;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title status"
    "tools tools status"
    "body body body"
    "links empty empty";
  padding: 1%;
  border: 5px solid cyan;
  gap: 1rem;
  margin: 1%;
}

.project-title {
  grid-area: title;
  border: 5px solid cyan;
}

.project-status {
  grid-area: status;
  border: 5px solid cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.project-body {
  grid-area: body;
  display: flex;
  padding-left: 2.5%;
  justify-content: center;
  align-content: center;
  gap: 2%;
}

.project-images {
  grid-area: images;
  justify-content: center;
  align-content: center;
  border: 5px solid cyan;
}

.project-tools {
  grid-area: tools;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.project-description {
  grid-area: description;
  border: 1px solid cyan;
  padding: 1%;
  justify-content: center;
  align-content: center;
  text-align: justify;
}
.project-links {
  grid-area: links;
  padding: 2%;
  margin-bottom: 1%;
  display: flex;
  justify-content: start;
  align-content: center;
  gap: 10%;
}

.project-links > a {
  justify-content: center;
  border: 1px solid cyan;
  padding: 2%;
}

svg {
  padding-top: 125px;
  max-width: 95%;
}
